<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
   
    <!--  CSS -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <!-- <link rel = "stylesheet" href = "styles/login.css"> -->
</head>
  <body>
    <header>
        <div class="header">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Event Manager</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login.html">Sign in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="signup.html">Sign up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="centers.html">Centers</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-5-center">Event Manager</h1>
            <p class= "lead">We manage your events,that's what we do!!! </p>
            <img src="images/bgimgg.jpg" class="img-fluid" alt="Responsive image">
            </br>
            <p class="lead">Find and Book Event at ouur centers</p>
            <p class="lead-right">
                <a class="btn btn-primary btn-lg" href="centers.html" role="button">View all centers</a>
            </p>
      </div>

        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="images/wed2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Wedding</h4>
                    <p class="card-text">For your Wedding ceremony, We have you covered</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="images/banqet.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Cocktail Party</h4>
                    <p class="card-text">Checkout our center for your Cock tail party</p>
                </div>
    
            </div>
            <div class="card">
                <img class="card-img-top" src="images/confe.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Conference</h4>
                    <p class="card-text">We have serene environment for your conference</p>
                </div>
            </div>
        </div>
 </div>

    <footer>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand align-center" href="#"  ><p class = "text-md-center">&copy; 2017 TmD</p></a>
        </nav>
    </footer>
  </body>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>