body{
    margin: 0;
    padding: 0;
    background: url(../images/bgimgg.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}

.loginBox{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 420px;
    padding: 40px 80px 40px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
    border: 0px solid #fff;
    -webkit-box-shadow: 3px 2px 39px 9px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 2px 39px 9px rgba(0,0,0,0.75);
box-shadow: 3px 2px 39px 9px rgba(0,0,0,0.75);
}

p#loginTitle{
    margin-bottom: 20px;
    padding: 0 0 20px;
    color: rgba(206, 200, 188, 0.88);
    text-align: center;
    font-family: 'Pacifico', sans-serif;
    font-size: 23px;
    font-weight: bold;
}

form#loginForm{
    position: relative;
    left: 1em;
}

.loginBox #loginText,
.loginBox #loginPassword{
    width: 100%;
    margin-bottom: 20px;
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline:none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

::placeholder{
    color:rgba(255,255,255,0.5);
}

.loginBox #loginSubmit{
    width: 100%;
    margin-bottom: 20px;
    border: none;
    outline: none ;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: #203927;
    cursor: pointer;
    border-radius: 20px;
}

.loginBox #loginSubmit:hover{
    opacity: 0.8;
    
}

.loginBox #newAccount {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: inline;
}

#signUp {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px;
}

.loginBox #signUp:hover {
    opacity: 0.5;
}