<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin</title>  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
   
    <!--  CSS -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel = "stylesheet" href = "../styles/adminDashboard.css">
</head>
  <body>
      <div class = "container-fluid display-table">
        <div class = "row display-table-row" class = "">
             <!--side bar menu -->
             <div class = "col-md-2 display-table-cell"  id = "side-menu"> 
                <h1>Naviagtion</h1>
            </div> 
            <!--main content area-->
            <div class = "col-md-10 display-table-cell box">
                <p>There are sometimes when you need an easy way to build up a collection of values
                 and you have to make sure each value is unique. This brings a lot overhead away from the old fashioned 
                 check if array has the value or not and then push or skip.
                This scenario was not covered in the performance post I linked earlier, but doing fast experiment 
                on Array of 10,000 items and then adding 15 items where 5 were duplicates to the combined collection,
                 adding to array with checking for duplicate values and skipping if duplicate it took 74ms and with set 
                 just using the set.add(value) it took 9ms.</p>
                 
                 <p>There are sometimes when you need an easy way to build up a collection of values
                 and you have to make sure each value is unique. This brings a lot overhead away from the old 
                 fashioned check if array has the value or not and then push or skip.
                This scenario was not covered in the performance post I linked earlier, but doing fast experiment 
                on Array of 10,000 items and then adding 15 items where 5 were duplicates to the combined collection,
                 adding to array with checking for duplicate values and skipping if duplicate it took 74ms and with set 
                 just using the set.add(value) it took 9ms.</p>
            </div>
        </div>
    </div>
    
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>